.tbboard {
  font-size:0.8vw;
  border-right: 3px #030303 solid;
  height: 42px;
  line-height: 42px;
}
.tbboard2{
  font-size:0.8vw;
  height: 42px;
  line-height: 42px;
}

.tbboardF {
  font-size:0.75vw;
  border-right: 3px #030303 solid;
  height: 42px;
  line-height: 42px;
  color: #eeeeee;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tbboardF2{
  font-size:0.75vw;
  height: 42px;
  line-height: 42px;
  color: #eeeeee;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.circleStatus {
  font-size:1.5vw;
}
.thboard {
  font-size: 0.8vw;
  border-right: 3px #030303 solid;
  height: 100%;
  padding: 5px;
}
.thboard2 {
  font-size: 0.8vw;
  height: 45px;
  flex-wrap: wrap;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.thboard21 {
  font-size: 0.8vw;
  border-right: 3px #030303 solid;
  height: 45px;
  flex-wrap: wrap;
  color: #eeeeee;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.thboard22 {
  font-size: 0.8vw;
  height: 45px;
  flex-wrap: wrap;
  color: #eeeeee;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.tr1{
  background-color: #3a3a3a;
}

.txt-yellow {
  color: #fff200; }

.txt-yellow2 {
  color: #ffd200;
}

.txt-green {
  color: #00a651; }

.txt-red {
  color: #ed1c24; }

.txt-blue {
  color: #00ffff; }
.fadeIn{
  visibility: hidden;
  opacity: 0.0;
  position: relative;
}
.dot-yellow {
  display: inline-block;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  background: #fff200;
  border-radius: 100%;
  border: 0; }

.dot-green {
  display: inline-block;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  background: #00a651;
  border-radius: 100%;
  border: 0; }

.dot-red {
  display: inline-block;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  background: #ed1c24;
  border-radius: 100%;
  border: 0; }

.ibody {
  background: #030303; }
  .ibody .head {
    display: flex;
    font-size: 60px;
    color: #eeeeee;
    text-align: center;
    justify-content: center; }
    .ibody .head p {
      text-align: left;
      font-size: 25px;
      padding: 10px; }
  .ibody .tablet-head {
    float: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
    color: #eeeeee;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .ibody .tablet-a {
    display: flex;
    background-color: #191919;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #eeeeee;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .ibody .datatable {
    display: flex;
    width: 100%;
    max-height: 45px;
    margin-top: 393px;
    font-size: 20px;
    color: #eeeeee;
    justify-content: center;
    align-items: center; }
    .ibody .datatable td {
      padding: 5px;
      border-right: 3px #030303 solid;
      vertical-align: middle;
      /*border: 1px #eee dashed;*/ }
    .ibody .datatable .datalist {
      display: flex;
      align-items: center; }
    .ibody .datatable img {
      padding: 5px;
      width: 75%;
      height: auto;
      object-fit: scale-down;
      margin-left: 5px;
      margin-right: 5px; }
  .ibody #datalist tr:nth-child(even) {
    background-color: #191919; }
