/*CSS Keypad*/

.keytext:hover, .keybackspace:hover, .keyspacebar:hover, .keyenter:hover, .keytext-th:hover, .keyspacebar-th:hover, .keyenter-th:hover {
	background-color: #e0e0e0;
}

.keytext:active,.keytext:focus, .keybackspace:active,.keybackspace:focus, .keyspacebar:active,.keyspacebar:focus, .keyenter:active,.keyenter:focus, .keytext-th:active,.keytext-th:focus, .keyspacebar-th:active,.keyspacebar-th:focus, .keyenter-th:active,.keyenter-th:focus, .keytext:active i,.keytext:focus i, .keybackspace:active i,.keybackspace:focus i, .keyspacebar:active i,.keyspacebar:focus i, .keyenter:active i ,.keyenter:focus i, .keytext-th:active,.keytext-th:focus i, .keyspacebar-th:active i,.keyspacebar-th:focus i, .keyenter-th:active i,.keyenter-th:focus i {
	border: none;
}

.keytext:active i,.keytext:focus i, .keybackspace:active i,.keybackspace:focus i, .keyspacebar:active i,.keyspacebar:focus i, .keyenter:active i ,.keyenter:focus i, .keytext-th:active,.keytext-th:focus i, .keyspacebar-th:active i,.keyspacebar-th:focus i, .keyenter-th:active i,.keyenter-th:focus i {
	border: none;
}

.keytext {
	width: 4vw;
	height: 6vh;
	background-image: url('../images/bg_trans.png');
	font-size: 1vw;
	margin: 0.15vw;
	border: 0;
	border-radius: 0.4vw;
	box-shadow: none;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
}
.keytext:hover {
	opacity: 0.5;
}

.keybackspace {
	width: 10%;
	height: 6vh;
	background-image: url('../images/bg_trans.png');
	font-size: 1vw;
	margin: 0.15vw;
	border: 0;
	border-radius: 0.4vw;
	box-shadow: none;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
}

.keybackspace:hover {
	opacity: 0.5;
}


.keyspacebar {
	width: 60%;
	height: 6vh;
	background-image: url('../images/bg_trans.png');
	font-size: 1vw;
	margin: 0.15vw;
	border: 0;
	border-radius: 0.4vw;
	box-shadow: none;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
}

.keyspacebar:hover {
	opacity: 0.5;
}


.keyenter {
	width: 10%;
	height: 6vh;
	background-image: url('../images/bg_trans.png');
	font-size: 1vw;
	margin: 0.3vw;
	border: 0;
	border-radius: 0.4vw;
	box-shadow: none;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
}
.keyenter:hover {
	opacity: 0.5;
}

.rowpad {
	display: block;
	width: 450px;
	height: 590px;
	border-radius: 0.4vw;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 30px 25px 0px 25px;
}
.rowpad:hover {
	opacity: 0.5;
}

.numpad {
	width: 4vw;
	height: 6vh;
	background-image: url('../images/bg_trans.png');
	font-size: 1vw;
	margin: 0.3vw;
	border: 0;
	border-radius: 0.4vw;
	box-shadow: none;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
}
.numpad:hover {
	opacity: 0.5;
}
