/*!
* Based on Bootstrap v4.0.0 (https://getbootstrap.com) 
*/
 
// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
@import url('https://fonts.googleapis.com/css?family=arial'); 
$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #1e2a63,
  secondary: #4cb8e3,
  light: #f3f3f3,
  dark: #030303,
  info: #cccccc,
  success: #00ff00,
  warning: #ffff00,
  danger: #ed1c24
);

// Class Colors
.txt-yellow { color: #fff200; }
.txt-green { color: #00a651; }
.txt-red { color: #ed1c24; }
.txt-blue { color: #00ffff; }
.dot-yellow { 
	width: 32px;
  height: 32px;
  background: #fff200;
  border-radius: 25%;
  border: 0;
}
.dot-green {  }
.dot-red {  }

$body-bg: white;
$body-color: #1e2a63;


$body-color-inverse: invert($body-color) !default;
$link-color: #4cb8e3;

// Fonts
$font-family-base: arial;



$headings-font-family: $font-family-base;
$display-font-family: $font-family-base;
$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size:   1.30rem;



@import 'bootstrap-4.0.0';

 
html,body {
  background-image: url(../images/backg.jpg);
  height:100%;
  width: 100%;
  overflow: hidden;
}
.ibody {
  background: #030303;
  .head {
    display: flex;
  	font-size: 60px;
    color: #eeeeee;
    text-align: center;
    justify-content: center;
    p { 
    	text-align: left;
      font-size: 25px;
      padding: 10px;
    }
    
  }
}

.mainbody {
	margin-top: 5%;
  .box-btn {
    padding-left: 15%;
    padding-right: 15%;
  }
  .btn-p {
    display: block;
    background-image: url(../images/bg_button.png);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
    width: 90%;
    height: auto initial;
    margin-top: 20px;
    padding: 30% 10% 10%;
    font-size: 500%;
    text-align:center;
    color: $primary;
    p { font-weight: bold; text-transform: uppercase; margin-top: 40px; }
  }
  .btn-nb {
  	display: flex;
    background-image: url(../images/bg_button.png);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
    width: 100%;
    height: 97%;
    padding: 10%;
    justify-content: center;
		align-items: center;
  }
  .card-ico {
  	display: flex;
    width: 31%;
    height: 200px;
    background-image: url(../images/bg_button.png);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
    padding: 1%;
    margin: 0px 10px 20px 20px;
    float: left;
    justify-content: left;
		align-items: center;
    img {
    	width: 100%;
      height: auto;
      object-fit: scale-down;
      margin-right: 10px;
    }
    p { font-size: 20px; font-weight: 600; }
  }
  .card-logo {
  	display: flex;
    width: 18%;
    height: 300px;
    background-image: url(../images/bg_button.png);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
    padding: 1%;
    margin: 0px 10px 20px 20px;
    float: left;
    justify-content: center;
		align-items: center;
    img {
    	width: 90%;
      height: 90%;
      object-fit: scale-down;
    }
  }
}

.update {
  margin-top: 5%;
  .input-bg { 
    background-image: url(../images/input-bg.png);
    background-repeat: none;
    width: 1018px;
		height: 280px;
    border: none;
  }
	input[type=text] {
    width: 60%;
    height: auto;
    padding: 20px;
    margin-top: 45px;
    border: none;
    font-size: 600%;
    color: $warning;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
	}
  input:focus, select:focus, textarea:focus {
    outline: none;
	}
}